@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

}

* {
  box-sizing:inherit;
}

body {
  margin:0;
}

img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 19.875em) {

  img {
    display: inherit;
    width: 100%;
  }

  img:nth-child(2) {
    display: none;
  }

  img:nth-child(5) {
    display: none;
  }

}

@media only screen and (min-width: 25em) {


    img, img:nth-child(2) {
    display: inline-block;
    float: left;
    width: 50%;
  }

    img,
    img:nth-child(5) {
    display: inline-block;
    float: left;
    width: 50%;
  }

  img:first-child {
    float: left;
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {
  img,
  img:last-child {
    display: none;
  }

  img, img:nth-child(2) {
  display: inline-block;
  float: left;
  width: 33.3333%;
}

img:nth-child(3) {
  float: left;
  width: 33.3333%;
}


}
